In [1]:
import pandas as pd
from dataprep import full_preproccessing

## Matrices

In [24]:
data = pd.read_csv('Food_com.csv')
data.rename(columns={'user_id': 'userid', 'recipe_id': 'movieid', "date": "timestamp"}, inplace=True)
data['timestamp'] = pd.to_datetime(data['timestamp'])
data['rating'] = data['rating'] + 1
# %%
training, testset_valid, holdout_valid, testset, holdout, data_description, data_index = full_preproccessing(data)

There are 25076 users
Filtered 24583 invalid observations.

In [25]:
from sa_hooi import sa_hooi, form_attention_matrix, get_scaling_weights

In [26]:
def tf_model_build(config, data, data_description, attention_matrix=np.array([])):
    userid = data_description["users"]
    itemid = data_description["items"]
    feedback = data_description["feedback"]

    idx = data[[userid, itemid, feedback]].values
    idx[:, -1] = idx[:, -1] - data_description['min_rating'] # works only for integer ratings!
    val = np.ones(idx.shape[0], dtype='f8')

    n_users = data_description["n_users"]
    n_items = data_description["n_items"]
    n_ratings = data_description["n_ratings"]
    shape = (n_users, n_items, n_ratings)
    core_shape = config['mlrank']
    num_iters = config["num_iters"]

    if (attention_matrix.shape[0] == 0):
        attention_matrix = form_attention_matrix(
            data_description['n_ratings'],
            **config['params'],
            format = 'csr'
        ).A
        
    print(attention_matrix)

    item_popularity = (
        pd.Series(np.ones((n_items,)))
        .reindex(range(n_items))
        .fillna(1)
        .values
    )
    scaling_weights = get_scaling_weights(item_popularity, scaling=config["scaling"])


    u0, u1, u2 = sa_hooi(
        idx, val, shape, config["mlrank"],
        attention_matrix = attention_matrix,
        scaling_weights = scaling_weights,
        max_iters = config["num_iters"],
        parallel_ttm = False,
        randomized = config["randomized"],
        growth_tol = config["growth_tol"],
        seed = config["seed"],
        iter_callback = None,
    )

    return u0, u1, u2, attention_matrix

# %%
config = {
    "scaling": 1,
    "mlrank": (30, 30, 5),
    "n_ratings": data_description['n_ratings'],
    "num_iters": 4,
    "params": None,
    "randomized": True,
    "growth_tol": 1e-4,
    "seed": 42
}

# %%
def tf_scoring(params, data, data_description):
    user_factors, item_factors, feedback_factors, attention_matrix = params
    userid = data_description["users"]
    itemid = data_description["items"]
    feedback = data_description["feedback"]

    data = data.sort_values(userid)
    useridx = data[userid]
    itemidx = data[itemid].values
    ratings = data[feedback].values
    ratings = ratings - data_description['min_rating']

    n_users = useridx.nunique()
    n_items = data_description['n_items']
    n_ratings = data_description['n_ratings']

    #inv_attention = np.linalg.inv(attention_matrix.A) # change
    inv_attention = solve_triangular(attention_matrix, np.eye(5), lower=True)
    #np.testing.assert_almost_equal(inv_attention, inv_attention_)

    tensor_outer = tensor_outer_at('cpu')

    inv_aT_feedback = (inv_attention.T @ feedback_factors)[-1, :]

    scores = tensor_outer(
        1.0,
        item_factors,
        attention_matrix @ feedback_factors,
        itemidx,
        ratings
    )
    scores = np.add.reduceat(scores, np.r_[0, np.where(np.diff(useridx))[0]+1]) # sort by users
    scores = np.tensordot(
        scores,
        inv_aT_feedback,
        axes=(2, 0)
    ).dot(item_factors.T)

    return scores

In [28]:
config["params"] = {'decay_factor': 1, 'exponential_decay': False, 'reverse': False}

config['mlrank'] = (10, 10, 1)
# tf_params = tf_model_build(config, training, data_description, attention_matrix=np.array([]))
a = np.array([[1.,         0.,         0.,         0.,         0.,         0.,        ],
 [0.5,        1.    ,     0. ,        0.    ,     0. ,        0.,        ],
 [0.33333333, 0.5,        1. ,        0.    ,     0.  ,       0. ,       ],
 [0.25  ,     0.33333333 ,0.5    ,    1.   ,      0.  ,       0.  ,      ],
 [0.2   ,     0.25    ,   0.33333333, 0.5 ,       1.  ,       0.  ,      ],
 [0.16666667, 0.2   ,     0.25   ,    0.33333333, 0.5   ,     1.        ]])
print(pd.DataFrame(a @ a.T).to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &         0 &         1 &         2 &         3 &         4 &         5 \\
\midrule
0 &  1.000000 &  0.500000 &  0.333333 &  0.250000 &  0.200000 &  0.166667 \\
1 &  0.500000 &  1.250000 &  0.666667 &  0.458333 &  0.350000 &  0.283333 \\
2 &  0.333333 &  0.666667 &  1.361111 &  0.750000 &  0.525000 &  0.405556 \\
3 &  0.250000 &  0.458333 &  0.750000 &  1.423611 &  0.800000 &  0.566667 \\
4 &  0.200000 &  0.350000 &  0.525000 &  0.800000 &  1.463611 &  0.833333 \\
5 &  0.166667 &  0.283333 &  0.405556 &  0.566667 &  0.833333 &  1.491389 \\
\bottomrule
\end{tabular}

C:\Users\Liza\AppData\Local\Temp\ipykernel_12720\2870607955.py:11: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(pd.DataFrame(a @ a.T).to_latex())

In [23]:
print('Eucledian distance matrix')
eucl_matrix = np.zeros((5, 5))

for i in range(5):
    for j in range(5):
        eucl_matrix[i, j] = 1.0 / np.exp(abs(i - j)) if i != j else 1#5 + 1e-2
print(pd.DataFrame(eucl_matrix).to_latex())

Eucledian distance matrix
\begin{tabular}{lrrrrr}
\toprule
{} &         0 &         1 &         2 &         3 &         4 \\
\midrule
0 &  1.000000 &  0.367879 &  0.135335 &  0.049787 &  0.018316 \\
1 &  0.367879 &  1.000000 &  0.367879 &  0.135335 &  0.049787 \\
2 &  0.135335 &  0.367879 &  1.000000 &  0.367879 &  0.135335 \\
3 &  0.049787 &  0.135335 &  0.367879 &  1.000000 &  0.367879 \\
4 &  0.018316 &  0.049787 &  0.135335 &  0.367879 &  1.000000 \\
\bottomrule
\end{tabular}

C:\Users\Liza\AppData\Local\Temp\ipykernel_12720\3367573187.py:7: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(pd.DataFrame(eucl_matrix).to_latex())

In [27]:
eucl_matrix = np.zeros((5, 5))

for i in range(5):
    for j in range(5):
        eucl_matrix[i, j] = abs(i - j) / np.exp(abs(i - j)) if i != j else 1#5 + 1e-2
print(pd.DataFrame(eucl_matrix).to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &         0 &         1 &         2 &         3 &         4 \\
\midrule
0 &  1.000000 &  0.367879 &  0.270671 &  0.149361 &  0.073263 \\
1 &  0.367879 &  1.000000 &  0.367879 &  0.270671 &  0.149361 \\
2 &  0.270671 &  0.367879 &  1.000000 &  0.367879 &  0.270671 \\
3 &  0.149361 &  0.270671 &  0.367879 &  1.000000 &  0.367879 \\
4 &  0.073263 &  0.149361 &  0.270671 &  0.367879 &  1.000000 \\
\bottomrule
\end{tabular}

C:\Users\Liza\AppData\Local\Temp\ipykernel_41628\1262110274.py:6: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(pd.DataFrame(eucl_matrix).to_latex())

In [27]:
rating_dist = []

total_cnt = training.shape[0]

for i in range(6):
    val = training.query(f'rating == {i + 1}').count()[0] / total_cnt

    rating_dist.append(val)

rat_dist_matrix = np.zeros((6, 6))

for i in range(6):
    for j in range(6):
        diff = abs(rating_dist[i] - rating_dist[j])
        rat_dist_matrix[i, j] = diff / np.exp(diff) if i != j else 1. + 1e-1
        
print(pd.DataFrame(rat_dist_matrix).to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &         0 &         1 &         2 &         3 &         4 &         5 \\
\midrule
0 &  1.100000 &  0.011903 &  0.006648 &  0.015998 &  0.122179 &  0.355517 \\
1 &  0.011903 &  1.100000 &  0.005326 &  0.027517 &  0.131058 &  0.356822 \\
2 &  0.006648 &  0.005326 &  1.100000 &  0.022432 &  0.127140 &  0.356253 \\
3 &  0.015998 &  0.027517 &  0.022432 &  1.100000 &  0.109824 &  0.353623 \\
4 &  0.122179 &  0.131058 &  0.127140 &  0.109824 &  1.100000 &  0.333563 \\
5 &  0.355517 &  0.356822 &  0.356253 &  0.353623 &  0.333563 &  1.100000 \\
\bottomrule
\end{tabular}

C:\Users\Liza\AppData\Local\Temp\ipykernel_12720\1743756817.py:17: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(pd.DataFrame(rat_dist_matrix).to_latex())

In [29]:
rating_dist

[0.01684015426667166,
 0.004792750964166698,
 0.010147152431946681,
 0.033099936346276254,
 0.1574680795297113,
 0.7776519264612274]

In [32]:
def center_and_rescale_score(x, func=None):

    if func is None:
        func = np.arctan

    return func(x - 3.5)

eucl_matrix = np.zeros((6, 6))

for i in range(6):
    for j in range(6):

        k, l = center_and_rescale_score(i + 1), center_and_rescale_score(j + 1)

        diff = abs(k - l)

        eucl_matrix[i, j] = 1 / (diff + 1)
print(pd.DataFrame(eucl_matrix).to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &         0 &         1 &         2 &         3 &         4 &         5 \\
\midrule
0 &  1.000000 &  0.828160 &  0.579159 &  0.376799 &  0.315151 &  0.295807 \\
1 &  0.828160 &  1.000000 &  0.658265 &  0.408757 &  0.337201 &  0.315151 \\
2 &  0.579159 &  0.658265 &  1.000000 &  0.518862 &  0.408757 &  0.376799 \\
3 &  0.376799 &  0.408757 &  0.518862 &  1.000000 &  0.658265 &  0.579159 \\
4 &  0.315151 &  0.337201 &  0.408757 &  0.658265 &  1.000000 &  0.828160 \\
5 &  0.295807 &  0.315151 &  0.376799 &  0.579159 &  0.828160 &  1.000000 \\
\bottomrule
\end{tabular}

C:\Users\Liza\AppData\Local\Temp\ipykernel_12720\1466671247.py:18: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(pd.DataFrame(eucl_matrix).to_latex())

## Base tuning

In [2]:
with open('logs_video1.txt') as f:
    lines1 = f.readlines()

In [3]:
with open('logs_video2.txt') as f:
    lines2 = f.readlines()

In [4]:
with open('logs_video3.txt') as f:
    lines3 = f.readlines()

In [52]:
with open('logs_video4.txt') as f:
    lines4 = f.readlines()

In [190]:
with open('food_recvae1.txt') as f:
    lines = f.readlines()

In [5]:
lines = lines1 + lines2 + lines3

In [6]:
# video
alpha = 5
models = []
keys = []
alphas = []
topks = []
mcs = []
hrs = []
prev_model = ''
for line in lines:
    if 'Batch' in line:
        batch = line.split(':')[-1].strip()
    if 'Model' in line:
        model = line.split(':')[-1].strip()
    if 'Hidden' in line:
        for i in range(alpha-1):
            for n in [5,10,20]:
                keys.append(line.split(':')[-1].strip())
                models.append(model)
                alphas.append(i+2)
                topks.append(n)
    if 'HR' in line:
        mcs.append(float(line.split(':')[-1].strip()))
        hrs.append(float(line.split(':')[1].strip().split(', ')[0]))

In [191]:
alpha = 5
batches = []
keys = []
alphas = []
topks = []
mcs = []
hrs = []
for line in lines:
    if 'Batch' in line:
        batch = line.split(':')[-1].strip()
    if 'Hidden' in line:
        for i in range(alpha-1):
            for n in [5,10,20]:
                keys.append(line.split(':')[-1].strip())
                alphas.append(i+2)
                topks.append(n)
                batches.append(batch)
    if 'HR' in line:
        mcs.append(float(line.split(':')[-1].strip()))
        hrs.append(float(line.split(':')[1].strip().split(', ')[0]))

In [7]:
batches = np.array([[2**i] * (len([i for i in models if i == 'triangular matrix']) // 6) for i in range(4,10)] * 5).flatten()

In [8]:
# video
res = pd.DataFrame([models, batches, keys, alphas, topks, mcs, hrs]).T
res.columns = ['model', 'batch_size', 'hidden_size', 'alpha', 'top_k', 'mcc', 'hr']

In [192]:
res = pd.DataFrame([batches, keys, alphas, topks, mcs, hrs]).T
res.columns = ['batch_size', 'hidden_size', 'alpha', 'top_k', 'mcc', 'hr']

In [185]:
res.head()

  batch_size      hidden_size alpha top_k       mcc        hr
0        500  (16, 16, 0.001)     2     5  0.007683  0.009512
1        500  (16, 16, 0.001)     2    10  0.014374  0.014018
2        500  (16, 16, 0.001)     2    20  0.022947  0.022028
3        500  (16, 16, 0.001)     3     5  0.010386  0.009011
4        500  (16, 16, 0.001)     3    10   0.00928  0.012015

In [77]:
res = res.dropna(subset='model')

In [193]:
res

     batch_size      hidden_size alpha top_k       mcc        hr
0           500  (16, 16, 0.001)     2     5  0.007218  0.000679
1           500  (16, 16, 0.001)     2    10  0.007218  0.000679
2           500  (16, 16, 0.001)     2    20  0.007218  0.000679
3           500  (16, 16, 0.001)     3     5  0.007653  0.000679
4           500  (16, 16, 0.001)     3    10  0.007653  0.000679
...         ...              ...   ...   ...       ...       ...
4490        NaN              NaN   NaN   NaN -0.028728  0.027369
4491        NaN              NaN   NaN   NaN -0.038377  0.046143
4492        NaN              NaN   NaN   NaN -0.000315  0.018095
4493        NaN              NaN   NaN   NaN  -0.00449  0.029857
4494        NaN              NaN   NaN   NaN -0.015735  0.050441

[4495 rows x 6 columns]

In [194]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495 entries, 0 to 4494
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   batch_size   3612 non-null   object
 1   hidden_size  3612 non-null   object
 2   alpha        3612 non-null   object
 3   top_k        3612 non-null   object
 4   mcc          3788 non-null   object
 5   hr           4495 non-null   object
dtypes: object(6)
memory usage: 210.8+ KB

In [95]:
res[res['model']=='triangular matrix']

                  model batch_size hidden_size alpha top_k       mcc        hr
0     triangular matrix         16     (16, 3)     2     5  0.008778  0.001752
1     triangular matrix         16     (16, 3)     2    10  0.016288  0.006008
2     triangular matrix         16     (16, 3)     2    20  0.020803  0.009762
3     triangular matrix         16     (16, 3)     3     5   0.01286  0.001752
4     triangular matrix         16     (16, 3)     3    10  0.023863  0.006008
...                 ...        ...         ...   ...   ...       ...       ...
1483  triangular matrix        512   (1024, 3)     4    10  0.029659  0.003755
1484  triangular matrix        512   (1024, 3)     4    20  0.033368  0.009262
1485  triangular matrix        512   (1024, 3)     5     5  0.004815  0.001502
1486  triangular matrix        512   (1024, 3)     5    10    0.0246   0.00776
1487  triangular matrix        512   (1024, 3)     5    20  0.028049   0.01577

[1488 rows x 7 columns]

In [10]:
# video
best = res.groupby(['model', 'alpha'])['mcc'].max()

In [195]:
best = res.groupby(['alpha'])['mcc'].max()

In [196]:
best

alpha
2    0.034239
3    0.039086
4    0.031632
5    0.027467
Name: mcc, dtype: float64

In [17]:
df1 = res[res['model']=='triangular matrix']

In [18]:
best = df1.groupby('alpha')['mcc'].max()

In [166]:
res[res['mcc']==best.loc[2]]

     batch_size      hidden_size alpha top_k       mcc        hr
3632        500  (64, 128, 0.01)     2    20  0.047347  0.014268

In [15]:
res[(res['batch_size']=='64')&(res['hidden_size']=='(16, 4)')]

    batch_size hidden_size alpha top_k       mcc        hr
645         64     (16, 4)     2     5  0.013697  0.004255
646         64     (16, 4)     2    10  0.020532  0.009512
647         64     (16, 4)     2    20  0.027364  0.016771
648         64     (16, 4)     3     5  0.020066  0.004255
649         64     (16, 4)     3    10   0.03008  0.009512
650         64     (16, 4)     3    20  0.040089  0.016771
651         64     (16, 4)     4     5  0.021765  0.004255
652         64     (16, 4)     4    10  0.034176  0.009512
653         64     (16, 4)     4    20  0.053144  0.016771
654         64     (16, 4)     5     5  0.013362  0.004255
655         64     (16, 4)     5    10  0.036794  0.009512
656         64     (16, 4)     5    20  0.041478  0.016771
657         64     (16, 4)     6     5       NaN  0.000751
658         64     (16, 4)     6    10       NaN  0.000751
659         64     (16, 4)     6    20       NaN  0.001252

In [91]:
res[(res['model']=='encoder and decoder layers different')&(res['batch_size']==32)&(res['hidden_size']=='(512, 3)')]

,model,batch_size,hidden_size,alpha,top_k,mcc,hr
4944,encoder and decoder layers different,32,"(512, 3)",2,5,0.021462,0.018023
4945,encoder and decoder layers different,32,"(512, 3)",2,10,0.018737,0.001502
4946,encoder and decoder layers different,32,"(512, 3)",2,20,0.032502,0.004506
4947,encoder and decoder layers different,32,"(512, 3)",3,5,0.045639,0.017772
4948,encoder and decoder layers different,32,"(512, 3)",3,10,0.004815,0.001502
4949,encoder and decoder layers different,32,"(512, 3)",3,20,0.031299,0.004506
4950,encoder and decoder layers different,32,"(512, 3)",4,5,0.046424,0.017772
4951,encoder and decoder layers different,32,"(512, 3)",4,10,0.015231,0.005257
4952,encoder and decoder layers different,32,"(512, 3)",4,20,0.021855,0.010763
4953,encoder and decoder layers different,32,"(512, 3)",5,5,0.003943,0.020526
4954,encoder and decoder layers different,32,"(512, 3)",5,10,0.022314,0.005257
4955,encoder and decoder layers different,32,"(512, 3)",5,20,0.032018,0.010763

In [167]:
res[res['mcc']==best.loc[3]]

     batch_size       hidden_size alpha top_k      mcc        hr
2674        500  (128, 64, 0.006)     3    10  0.05744  0.021026
2854        500  (256, 64, 0.008)     3    10  0.05744  0.021026

In [168]:
res[res['mcc']==best.loc[4]]

     batch_size       hidden_size alpha top_k       mcc       hr
3007        500  (512, 64, 0.008)     4    10  0.060631  0.02428

In [169]:
res[res['mcc']==best.loc[5]]

    batch_size                     hidden_size alpha top_k       mcc       hr
431        500  (64, 16, 0.009000000000000001)     5    20  0.053974  0.02428

In [157]:
res[res['mcc']==best.loc[6]]

     batch_size       hidden_size alpha top_k      mcc       hr
2774        500  (256, 64, 0.004)     6    20  0.02825  0.01425

## AE tuning

## AE results

In [118]:
with open('video_easer_res2.txt') as f:
    lines = f.readlines()

In [119]:
lines

['failed to get console mode for stdout: The handle is invalid.\n',
 'Looking in indexes: https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/simple\n',
 'Collecting torch==1.13.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/torch/1.13.1/torch-1.13.1-cp38-cp38-manylinux1_x86_64.whl (887.4 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 887.4/887.4 MB 313.6 MB/s eta 0:00:00\n',
 'Collecting scipy==1.10.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/scipy/1.10.1/scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 34.5/34.5 MB 308.8 MB/s eta 0:00:00\n',
 'Collecting numpy==1.22.2\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/numpy/1.22.2/numpy-1.22.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 16.8/16.8 MB 307.5 MB/s eta 0:00:00\n',
 'Collecting scikit-learn==1.2.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/scikit-learn/1.2.1/scikit_learn-1.2.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 9.8/9.8 MB 194.5 MB/s eta 0:00:00\n',
 'Collecting tqdm==4.64.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/tqdm/4.64.1/tqdm-4.64.1-py2.py3-none-any.whl (78 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 78.5/78.5 kB 34.4 MB/s eta 0:00:00\n',
 'Collecting pandas==1.5.3\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/pandas/1.5.3/pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 12.2/12.2 MB 304.7 MB/s eta 0:00:00\n',
 'Collecting numba>=0.21.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/numba/0.57.0/numba-0.57.0-cp38-cp38-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.6 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 3.6/3.6 MB 161.7 MB/s eta 0:00:00\n',
 'Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from -r /home/requirements.txt (line 8)) (2.28.2)\n',
 'Collecting ipython==8.0.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/ipython/8.0.0/ipython-8.0.0-py3-none-any.whl (747 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 747.4/747.4 kB 114.7 MB/s eta 0:00:00\n',
 'Collecting nvidia-cudnn-cu11==8.5.0.96\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/nvidia-cudnn-cu11/8.5.0.96/nvidia_cudnn_cu11-8.5.0.96-2-py3-none-manylinux1_x86_64.whl (557.1 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 557.1/557.1 MB 289.5 MB/s eta 0:00:00\n',
 'Collecting nvidia-cuda-runtime-cu11==11.7.99\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/nvidia-cuda-runtime-cu11/11.7.99/nvidia_cuda_runtime_cu11-11.7.99-py3-none-manylinux1_x86_64.whl (849 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 849.3/849.3 kB 45.5 MB/s eta 0:00:00\n',
 'Collecting nvidia-cuda-nvrtc-cu11==11.7.99\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/nvidia-cuda-nvrtc-cu11/11.7.99/nvidia_cuda_nvrtc_cu11-11.7.99-2-py3-none-manylinux1_x86_64.whl (21.0 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 21.0/21.0 MB 291.3 MB/s eta 0:00:00\n',
 'Collecting nvidia-cublas-cu11==11.10.3.66\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/nvidia-cublas-cu11/11.10.3.66/nvidia_cublas_cu11-11.10.3.66-py3-none-manylinux1_x86_64.whl (317.1 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 317.1/317.1 MB 251.1 MB/s eta 0:00:00\n',
 'Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch==1.13.1->-r /home/requirements.txt (line 1)) (4.4.0)\n',
 'Collecting threadpoolctl>=2.0.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/threadpoolctl/3.1.0/threadpoolctl-3.1.0-py3-none-any.whl (14 kB)\n',
 'Collecting joblib>=1.1.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/joblib/1.2.0/joblib-1.2.0-py3-none-any.whl (297 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 298.0/298.0 kB 236.8 MB/s eta 0:00:00\n',
 'Collecting python-dateutil>=2.8.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/python-dateutil/2.8.2/python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 247.7/247.7 kB 23.1 MB/s eta 0:00:00\n',
 'Collecting pytz>=2020.1\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/pytz/2023.3/pytz-2023.3-py2.py3-none-any.whl (502 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 502.3/502.3 kB 288.4 MB/s eta 0:00:00\n',
 'Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython==8.0.0->-r /home/requirements.txt (line 9)) (66.0.0)\n',
 'Collecting backcall\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/backcall/0.2.0/backcall-0.2.0-py2.py3-none-any.whl (11 kB)\n',
 'Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.8/dist-packages (from ipython==8.0.0->-r /home/requirements.txt (line 9)) (4.8.0)\n',
 'Collecting black\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/black/23.3.0/black-23.3.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 1.6/1.6 MB 85.2 MB/s eta 0:00:00\n',
 'Collecting pickleshare\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/pickleshare/0.7.5/pickleshare-0.7.5-py2.py3-none-any.whl (6.9 kB)\n',
 'Collecting decorator\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/decorator/5.1.1/decorator-5.1.1-py3-none-any.whl (9.1 kB)\n',
 'Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/prompt-toolkit/3.0.38/prompt_toolkit-3.0.38-py3-none-any.whl (385 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 385.8/385.8 kB 294.8 MB/s eta 0:00:00\n',
 'Collecting matplotlib-inline\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/matplotlib-inline/0.1.6/matplotlib_inline-0.1.6-py3-none-any.whl (9.4 kB)\n',
 'Collecting stack-data\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/stack-data/0.6.2/stack_data-0.6.2-py3-none-any.whl (24 kB)\n',
 'Collecting jedi>=0.16\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/jedi/0.18.2/jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 1.6/1.6 MB 310.0 MB/s eta 0:00:00\n',
 'Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython==8.0.0->-r /home/requirements.txt (line 9)) (2.14.0)\n',
 'Collecting traitlets>=5\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/traitlets/5.9.0/traitlets-5.9.0-py3-none-any.whl (117 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 117.4/117.4 kB 19.4 MB/s eta 0:00:00\n',
 'Requirement already satisfied: wheel in /usr/local/lib/python3.8/dist-packages (from nvidia-cublas-cu11==11.10.3.66->torch==1.13.1->-r /home/requirements.txt (line 1)) (0.38.4)\n',
 'Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.21.0->-r /home/requirements.txt (line 7)) (4.13.0)\n',
 'Collecting llvmlite<0.41,>=0.40.0dev0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/llvmlite/0.40.0/llvmlite-0.40.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (42.1 MB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 42.1/42.1 MB 292.2 MB/s eta 0:00:00\n',
 'Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->-r /home/requirements.txt (line 8)) (1.26.14)\n',
 'Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->-r /home/requirements.txt (line 8)) (3.0.1)\n',
 'Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.7.0->-r /home/requirements.txt (line 8)) (2019.11.28)\n',
 'Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.7.0->-r /home/requirements.txt (line 8)) (2.8)\n',
 'Collecting parso<0.9.0,>=0.8.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/parso/0.8.3/parso-0.8.3-py2.py3-none-any.whl (100 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 100.8/100.8 kB 266.4 MB/s eta 0:00:00\n',
 'Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect>4.3->ipython==8.0.0->-r /home/requirements.txt (line 9)) (0.7.0)\n',
 'Collecting wcwidth\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/wcwidth/0.2.6/wcwidth-0.2.6-py2.py3-none-any.whl (29 kB)\n',
 'Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.3->-r /home/requirements.txt (line 6)) (1.14.0)\n',
 'Collecting click>=8.0.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/click/8.1.3/click-8.1.3-py3-none-any.whl (96 kB)\n',
 '     в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ 96.6/96.6 kB 267.8 MB/s eta 0:00:00\n',
 'Requirement already satisfied: tomli>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from black->ipython==8.0.0->-r /home/requirements.txt (line 9)) (2.0.1)\n',
 'Requirement already satisfied: platformdirs>=2 in /usr/local/lib/python3.8/dist-packages (from black->ipython==8.0.0->-r /home/requirements.txt (line 9)) (2.6.2)\n',
 'Collecting pathspec>=0.9.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/pathspec/0.11.1/pathspec-0.11.1-py3-none-any.whl (29 kB)\n',
 'Requirement already satisfied: packaging>=22.0 in /usr/local/lib/python3.8/dist-packages (from black->ipython==8.0.0->-r /home/requirements.txt (line 9)) (23.0)\n',
 'Collecting mypy-extensions>=0.4.3\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/mypy-extensions/1.0.0/mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)\n',
 'Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.21.0->-r /home/requirements.txt (line 7)) (3.11.0)\n',
 'Collecting pure-eval\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/pure-eval/0.2.2/pure_eval-0.2.2-py3-none-any.whl (11 kB)\n',
 'Collecting executing>=1.2.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/executing/1.2.0/executing-1.2.0-py2.py3-none-any.whl (24 kB)\n',
 'Collecting asttokens>=2.1.0\n',
 '  Downloading https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/packages/packages/asttokens/2.2.1/asttokens-2.2.1-py2.py3-none-any.whl (26 kB)\n',
 'Installing collected packages: wcwidth, pytz, pure-eval, pickleshare, executing, backcall, traitlets, tqdm, threadpoolctl, python-dateutil, prompt-toolkit, pathspec, parso, nvidia-cuda-runtime-cu11, nvidia-cuda-nvrtc-cu11, nvidia-cublas-cu11, numpy, mypy-extensions, llvmlite, joblib, decorator, click, asttokens, stack-data, scipy, pandas, nvidia-cudnn-cu11, numba, matplotlib-inline, jedi, black, torch, scikit-learn, ipython\n',
 'Successfully installed asttokens-2.2.1 backcall-0.2.0 black-23.3.0 click-8.1.3 decorator-5.1.1 executing-1.2.0 ipython-8.0.0 jedi-0.18.2 joblib-1.2.0 llvmlite-0.40.0 matplotlib-inline-0.1.6 mypy-extensions-1.0.0 numba-0.57.0 numpy-1.22.2 nvidia-cublas-cu11-11.10.3.66 nvidia-cuda-nvrtc-cu11-11.7.99 nvidia-cuda-runtime-cu11-11.7.99 nvidia-cudnn-cu11-8.5.0.96 pandas-1.5.3 parso-0.8.3 pathspec-0.11.1 pickleshare-0.7.5 prompt-toolkit-3.0.38 pure-eval-0.2.2 python-dateutil-2.8.2 pytz-2023.3 scikit-learn-1.2.1 scipy-1.10.1 stack-data-0.6.2 threadpoolctl-3.1.0 torch-1.13.1 tqdm-4.64.1 traitlets-5.9.0 wcwidth-0.2.6\n',
 'Looking in indexes: https://artifactory.tcsbank.ru/artifactory/api/pypi/python-all/simple\n',
 'Collecting polara\n',
 '  Cloning https://github.com/evfro/polara.git (to revision develop) to /tmp/pip-install-n8xlv2n7/polara_7145ae2914f34044988908b8394bfebd\n',
 '  Resolved https://github.com/evfro/polara.git to commit 8e48cfd88e616ca53f8bbda1702a3e2c8abaf38e\n',
 '  Preparing metadata (setup.py): started\n',
 "  Preparing metadata (setup.py): finished with status 'done'\n",
 'Building wheels for collected packages: polara\n',
 '  Building wheel for polara (setup.py): started\n',
 "  Building wheel for polara (setup.py): finished with status 'done'\n",
 '  Created wheel for polara: filename=polara-0.7.2.dev0-py3-none-any.whl size=89447 sha256=9047ca899a8ad495f72551d962a607dfe30f55df6f398ca76762f41e80f903ef\n',
 '  Stored in directory: /tmp/pip-ephem-wheel-cache-3t6uqspt/wheels/5e/e1/4c/eaa6d1a342974af58b0efac692b6846b8c034f8904e428626b\n',
 'Successfully built polara\n',
 'Installing collected packages: polara\n',
 'Successfully installed polara-0.7.2.dev0\n',
 'There are 24303 users\n',
 'Filtered 17693 invalid observations.\n',
 'HR@5:0.06880817667457566, MRR@5: 0.040779947679016854, Coverage@5: 0.49273167777104787, NCDG@5: 0.04775928150063038, HR_pos@5: 0.06734805621463771, HR_neg@5: 0.0014601204599379448, MRR_pos@5: 0.03969398308693801, MRR_neg@5: 0.0010859645920788465, NCDG_pos@5: 0.046582340613811724, NDCG_neg@5: 0.0011769408868186517, Matthews@5: 0.03737651253469087\n',
 'HR@10:0.09326519437853624, MRR@10: 0.0439258699160141, Coverage@10: 0.6701998788612962, NCDG@10: 0.05555064417520044, HR_pos@10: 0.09089249863113708, HR_neg@10: 0.0023726957473991605, MRR_pos@10: 0.04273676983113012, MRR_neg@10: 0.001189100084883987, NCDG_pos@10: 0.05409746255516459, NDCG_neg@10: 0.0014531816200358577, Matthews@10: 0.037982555748338746\n',
 'HR@20:0.13031575104946158, MRR@20: 0.046452732652637774, Coverage@20: 0.8362608520088836, NCDG@20: 0.06486167500909554, HR_pos@20: 0.12666544989961673, HR_neg@20: 0.003650301149844862, MRR_pos@20: 0.045182092960056895, MRR_neg@20: 0.0012706396925808842, NCDG_pos@20: 0.06309417587635927, NDCG_neg@20: 0.0017674991327362864, Matthews@20: 0.04134746286464685\n',
 'HR@5:0.06862566161708342, MRR@5: 0.04006509703717224, Coverage@5: 0.4996971532404603, NCDG@5: 0.047168926871180156, HR_pos@5: 0.06515787552473079, HR_neg@5: 0.003467786092352619, MRR_pos@5: 0.038191275780251874, MRR_neg@5: 0.0018738212569203625, NCDG_pos@5: 0.04490446553365816, NDCG_neg@5: 0.002264461337521998, Matthews@5: 0.04373653938664396\n',
 'HR@10:0.09052746851615258, MRR@10: 0.042823754189879396, Coverage@10: 0.6749444780940844, NCDG@10: 0.05408736753357776, HR_pos@10: 0.08486950173389304, HR_neg@10: 0.005657966782259536, MRR_pos@10: 0.04067659490638136, MRR_neg@10: 0.0021471592834980315, NCDG_pos@10: 0.051133215365636746, NDCG_neg@10: 0.002954152167941024, Matthews@10: 0.03816660364607432\n',
 'HR@20:0.1279430553020624, MRR@20: 0.04539645371137779, Coverage@20: 0.8382798304058147, NCDG@20: 0.06351603346453134, HR_pos@20: 0.11991239277240372, HR_neg@20: 0.008030662529658696, MRR_pos@20: 0.04309083693701404, MRR_neg@20: 0.0023056167743637545, NCDG_pos@20: 0.05996924460588673, NDCG_neg@20: 0.0035467888586445963, Matthews@20: 0.04599286910882902\n',
 'HR@5:0.08249680598649389, MRR@5: 0.04823264585995011, Coverage@5: 0.41934181304260043, NCDG@5: 0.05672543583048183, HR_pos@5: 0.07045081219200584, HR_neg@5: 0.012045993794488044, MRR_pos@5: 0.041805073918598286, MRR_neg@5: 0.006427571941351829, NCDG_pos@5: 0.04890982885998662, NDCG_neg@5: 0.007815606970495213, Matthews@5: 0.04475340228251186\n',
 'HR@10:0.10987406461033036, MRR@10: 0.051900401822832926, Coverage@10: 0.6023622047244095, NCDG@10: 0.06559497562273475, HR_pos@10: 0.0939952546085052, HR_neg@10: 0.01587881000182515, MRR_pos@10: 0.04494780938475043, MRR_neg@10: 0.006952592438082491, NCDG_pos@10: 0.0565257731564666, NDCG_neg@10: 0.00906920246626816, Matthews@10: 0.053738018514419165\n',
 'HR@20:0.14747216645373246, MRR@20: 0.054417192765054315, Coverage@20: 0.7857863920856046, NCDG@20: 0.07498492010289566, HR_pos@20: 0.12502281438218654, HR_neg@20: 0.022449352071545903, MRR_pos@20: 0.04702461805921004, MRR_neg@20: 0.007392574705844286, NCDG_pos@20: 0.06427480791560322, NDCG_neg@20: 0.010710112187292436, Matthews@20: 0.05569288039906921\n',
 'HR@5:0.0686256616170834, MRR@5: 0.04006509703717224, Coverage@5: 0.4996971532404603, NCDG@5: 0.047168926871180156, HR_pos@5: 0.04599379448804526, HR_neg@5: 0.022631867129038145, MRR_pos@5: 0.028155989535803366, MRR_neg@5: 0.011909107501368863, NCDG_pos@5: 0.03259248091145827, NDCG_neg@5: 0.014576445959721887, Matthews@5: 0.036190569616340165\n',
 'HR@10:0.09052746851615258, MRR@10: 0.042823754189879396, Coverage@10: 0.6749444780940844, NCDG@10: 0.05408736753357776, HR_pos@10: 0.059499908742471255, HR_neg@10: 0.031027559773681327, MRR_pos@10: 0.029857580313867958, MRR_neg@10: 0.012966173876011441, NCDG_pos@10: 0.03685840106584931, NDCG_neg@10: 0.01722896646772845, Matthews@10: 0.033703000348099296\n',

In [19]:
# coffee
d = {}
for line in lines:
    if 'r=' in line:
        k, v = line.split(':')
        d[k] = float(v.strip())

In [120]:
lines2 = ['HR@5:0.06880817667457566, MRR@5: 0.040779947679016854, Coverage@5: 0.49273167777104787, NCDG@5: 0.04775928150063038, HR_pos@5: 0.06734805621463771, HR_neg@5: 0.0014601204599379448, MRR_pos@5: 0.03969398308693801, MRR_neg@5: 0.0010859645920788465, NCDG_pos@5: 0.046582340613811724, NDCG_neg@5: 0.0011769408868186517, Matthews@5: 0.03737651253469087\n',
 'HR@10:0.09326519437853624, MRR@10: 0.0439258699160141, Coverage@10: 0.6701998788612962, NCDG@10: 0.05555064417520044, HR_pos@10: 0.09089249863113708, HR_neg@10: 0.0023726957473991605, MRR_pos@10: 0.04273676983113012, MRR_neg@10: 0.001189100084883987, NCDG_pos@10: 0.05409746255516459, NDCG_neg@10: 0.0014531816200358577, Matthews@10: 0.037982555748338746\n',
 'HR@20:0.13031575104946158, MRR@20: 0.046452732652637774, Coverage@20: 0.8362608520088836, NCDG@20: 0.06486167500909554, HR_pos@20: 0.12666544989961673, HR_neg@20: 0.003650301149844862, MRR_pos@20: 0.045182092960056895, MRR_neg@20: 0.0012706396925808842, NCDG_pos@20: 0.06309417587635927, NDCG_neg@20: 0.0017674991327362864, Matthews@20: 0.04134746286464685\n']
lines3 = ['HR@5:0.06862566161708342, MRR@5: 0.04006509703717224, Coverage@5: 0.4996971532404603, NCDG@5: 0.047168926871180156, HR_pos@5: 0.06515787552473079, HR_neg@5: 0.003467786092352619, MRR_pos@5: 0.038191275780251874, MRR_neg@5: 0.0018738212569203625, NCDG_pos@5: 0.04490446553365816, NDCG_neg@5: 0.002264461337521998, Matthews@5: 0.04373653938664396\n',
 'HR@10:0.09052746851615258, MRR@10: 0.042823754189879396, Coverage@10: 0.6749444780940844, NCDG@10: 0.05408736753357776, HR_pos@10: 0.08486950173389304, HR_neg@10: 0.005657966782259536, MRR_pos@10: 0.04067659490638136, MRR_neg@10: 0.0021471592834980315, NCDG_pos@10: 0.051133215365636746, NDCG_neg@10: 0.002954152167941024, Matthews@10: 0.03816660364607432\n',
 'HR@20:0.1279430553020624, MRR@20: 0.04539645371137779, Coverage@20: 0.8382798304058147, NCDG@20: 0.06351603346453134, HR_pos@20: 0.11991239277240372, HR_neg@20: 0.008030662529658696, MRR_pos@20: 0.04309083693701404, MRR_neg@20: 0.0023056167743637545, NCDG_pos@20: 0.05996924460588673, NDCG_neg@20: 0.0035467888586445963, Matthews@20: 0.04599286910882902\n']
lines4 = ['HR@5:0.08249680598649389, MRR@5: 0.04823264585995011, Coverage@5: 0.41934181304260043, NCDG@5: 0.05672543583048183, HR_pos@5: 0.07045081219200584, HR_neg@5: 0.012045993794488044, MRR_pos@5: 0.041805073918598286, MRR_neg@5: 0.006427571941351829, NCDG_pos@5: 0.04890982885998662, NDCG_neg@5: 0.007815606970495213, Matthews@5: 0.04475340228251186\n',
 'HR@10:0.10987406461033036, MRR@10: 0.051900401822832926, Coverage@10: 0.6023622047244095, NCDG@10: 0.06559497562273475, HR_pos@10: 0.0939952546085052, HR_neg@10: 0.01587881000182515, MRR_pos@10: 0.04494780938475043, MRR_neg@10: 0.006952592438082491, NCDG_pos@10: 0.0565257731564666, NDCG_neg@10: 0.00906920246626816, Matthews@10: 0.053738018514419165\n',
 'HR@20:0.14747216645373246, MRR@20: 0.054417192765054315, Coverage@20: 0.7857863920856046, NCDG@20: 0.07498492010289566, HR_pos@20: 0.12502281438218654, HR_neg@20: 0.022449352071545903, MRR_pos@20: 0.04702461805921004, MRR_neg@20: 0.007392574705844286, NCDG_pos@20: 0.06427480791560322, NDCG_neg@20: 0.010710112187292436, Matthews@20: 0.05569288039906921\n']
lines5 = ['HR@5:0.0686256616170834, MRR@5: 0.04006509703717224, Coverage@5: 0.4996971532404603, NCDG@5: 0.047168926871180156, HR_pos@5: 0.04599379448804526, HR_neg@5: 0.022631867129038145, MRR_pos@5: 0.028155989535803366, MRR_neg@5: 0.011909107501368863, NCDG_pos@5: 0.03259248091145827, NDCG_neg@5: 0.014576445959721887, Matthews@5: 0.036190569616340165\n',
 'HR@10:0.09052746851615258, MRR@10: 0.042823754189879396, Coverage@10: 0.6749444780940844, NCDG@10: 0.05408736753357776, HR_pos@10: 0.059499908742471255, HR_neg@10: 0.031027559773681327, MRR_pos@10: 0.029857580313867958, MRR_neg@10: 0.012966173876011441, NCDG_pos@10: 0.03685840106584931, NDCG_neg@10: 0.01722896646772845, Matthews@10: 0.033703000348099296\n',
 'HR@20:0.12794305530206243, MRR@20: 0.04539645371137779, Coverage@20: 0.8382798304058147, NCDG@20: 0.06351603346453134, HR_pos@20: 0.08432195656141632, HR_neg@20: 0.043621098740646104, MRR_pos@20: 0.03153126051008877, MRR_neg@20: 0.013865193201289032, NCDG_pos@20: 0.04307153325236689, NDCG_neg@20: 0.020444500212164433, Matthews@20: 0.04232822358609195\n']
lines6 = ['HR@5:0.008234217749313814, MRR@5: 0.004339737724916133, Coverage@5: 0.20650652985074627, NCDG@5: 0.005298353891968317, HR_pos@5: 0.006587374199451052, HR_neg@5: 0.001646843549862763, MRR_pos@5: 0.003287587679170479, MRR_neg@5: 0.0010521500457456542, NCDG_pos@5: 0.004099106100319078, NDCG_neg@5: 0.0011992477916492397, Matthews@5: 0.010620231842970692\n',
 'HR@10:0.013723696248856358, MRR@10: 0.005048069242945729, Coverage@10: 0.3435556592039801, NCDG@10: 0.007049155649237863, HR_pos@10: 0.011161939615736504, HR_neg@10: 0.0025617566331198535, MRR_pos@10: 0.0038777792300207672, MRR_neg@10: 0.0011702900129249626, NCDG_pos@10: 0.005558032245656518, NDCG_neg@10: 0.0014911234035813446, Matthews@10: 0.017378569567164097\n',
 'HR@20:0.02433668801463861, MRR@20: 0.005761631141171362, Coverage@20: 0.5198616293532339, NCDG@20: 0.009703105789163984, HR_pos@20: 0.02031107044830741, HR_neg@20: 0.0040256175663311985, MRR_pos@20: 0.004501648150848381, MRR_neg@20: 0.001259982990322981, NCDG_pos@20: 0.007856831730594883, NDCG_neg@20: 0.0018462740585691024, Matthews@20: 0.03101459035630606\n']

In [131]:
alpha = 5
alphas = []
topks = []
metrics = []
for line in lines5:
    if 'HR@' in line:
        for i in line.split(', '):
            metrics.append(float(i.split(':')[-1].strip()))

In [132]:
for i in range(3):
    display(pd.DataFrame(metrics[11*i:11*(i+1)]).T)

,0,1,2,3,4,5,6,7,8,9,10
0,0.068626,0.040065,0.499697,0.047169,0.045994,0.022632,0.028156,0.011909,0.032592,0.014576,0.036191

,0,1,2,3,4,5,6,7,8,9,10
0,0.090527,0.042824,0.674944,0.054087,0.0595,0.031028,0.029858,0.012966,0.036858,0.017229,0.033703

,0,1,2,3,4,5,6,7,8,9,10
0,0.127943,0.045396,0.83828,0.063516,0.084322,0.043621,0.031531,0.013865,0.043072,0.020445,0.042328

In [81]:
11*3*4

132

## dict

In [127]:
d = {'r=16_2, alpha=2': 0.05531103432672559,
 'r=16_2, alpha=3': 0.07365974504539831,
 'r=16_2, alpha=4': 0.149377867671188,
 'r=16_2, alpha=5': 0.2383536087975349,
 'r=32_2, alpha=2': 0.05923706005849889,
 'r=32_2, alpha=3': 0.07472952705088284,
 'r=32_2, alpha=4': 0.15453795127479317,
 'r=32_2, alpha=5': 0.22130201655159662,
 'r=64_2, alpha=2': 0.05747916632248626,
 'r=64_2, alpha=3': 0.07821901652467918,
 'r=64_2, alpha=4': 0.1417710069101706,
 'r=64_2, alpha=5': 0.18265776635878014,
 'r=128_2, alpha=2': 0.06428255989173427,
 'r=128_2, alpha=3': 0.0921665249686498,
 'r=128_2, alpha=4': 0.14548104368411133,
 'r=128_2, alpha=5': 0.14519831508760941,
 'r=256_2, alpha=2': 0.04648171239236602,
 'r=256_2, alpha=3': 0.06436521303976957,
 'r=256_2, alpha=4': 0.11616547800080264,
 'r=256_2, alpha=5': 0.10279871155849937,
 'r=512_2, alpha=2': 0.01836295380723834,
 'r=512_2, alpha=3': -5.255336877465284e-06,
 'r=512_2, alpha=4': 0.024733820641945525,
 'r=512_2, alpha=5': 0.028398646574531276,
 'r=1024_2, alpha=2': -0.012605742462697647,
 'r=1024_2, alpha=3': 0.0011548263678972032,
 'r=1024_2, alpha=4': 0.008776905395472202,
 'r=1024_2, alpha=5': -0.004061604266722465,
 'r=2048_2, alpha=2': -0.008593398433128252,
 'r=2048_2, alpha=3': -0.001366927970622446,
 'r=2048_2, alpha=4': -0.027240563322450166,
 'r=2048_2, alpha=5': -0.028043964322806262,
 'r=16_3, alpha=2': 0.05230722171275475,
 'r=16_3, alpha=3': 0.059236661436579026,
 'r=16_3, alpha=4': 0.13705354078026863,
 'r=16_3, alpha=5': 0.20680013894842025,
 'r=32_3, alpha=2': 0.056041274291019426,
 'r=32_3, alpha=3': 0.07520242034916262,
 'r=32_3, alpha=4': 0.15791901975652467,
 'r=32_3, alpha=5': 0.2392319270741349,
 'r=64_3, alpha=2': 0.059928752161400034,
 'r=64_3, alpha=3': 0.07623041769189473,
 'r=64_3, alpha=4': 0.13637825903424544,
 'r=64_3, alpha=5': 0.19125081430382865,
 'r=128_3, alpha=2': 0.05747916632248626,
 'r=128_3, alpha=3': 0.07821901652467918,
 'r=128_3, alpha=4': 0.13086308422145937,
 'r=128_3, alpha=5': 0.16319532546876533,
 'r=256_3, alpha=2': 0.051921669262761865,
 'r=256_3, alpha=3': 0.0663952086002175,
 'r=256_3, alpha=4': 0.10554181919367596,
 'r=256_3, alpha=5': 0.13862609732445122,
 'r=512_3, alpha=2': 0.02158300430799532,
 'r=512_3, alpha=3': 0.04129713740698912,
 'r=512_3, alpha=4': 0.0692205693926399,
 'r=512_3, alpha=5': 0.08724229056479206,
 'r=1024_3, alpha=2': -0.0019113233866926468,
 'r=1024_3, alpha=3': 0.0016772129834947385,
 'r=1024_3, alpha=4': 0.03980498224388007,
 'r=1024_3, alpha=5': 0.06144435927282375,
 'r=2048_3, alpha=2': -0.019126859140523752,
 'r=2048_3, alpha=3': 0.00667494894545064,
 'r=2048_3, alpha=4': -0.028005508813704384,
 'r=2048_3, alpha=5': -0.03664498184133764,
 'r=16_4, alpha=2': 0.05307131610784122,
 'r=16_4, alpha=3': 0.060990852217879435,
 'r=16_4, alpha=4': 0.13434827072904545,
 'r=16_4, alpha=5': 0.214929221552216,
 'r=32_4, alpha=2': 0.05457285406582348,
 'r=32_4, alpha=3': 0.05671151567264219,
 'r=32_4, alpha=4': 0.13493890265515737,
 'r=32_4, alpha=5': 0.23749638986025642,
 'r=64_4, alpha=2': 0.05035481397541435,
 'r=64_4, alpha=3': 0.07125116535671248,
 'r=64_4, alpha=4': 0.12275109308233201,
 'r=64_4, alpha=5': 0.20031826195757757,
 'r=128_4, alpha=2': 0.056041274291019426,
 'r=128_4, alpha=3': 0.07520242034916262,
 'r=128_4, alpha=4': 0.11327806333028335,
 'r=128_4, alpha=5': 0.15958138310588654,
 'r=256_4, alpha=2': 0.04171101887483536,
 'r=256_4, alpha=3': 0.06271205106119178,
 'r=256_4, alpha=4': 0.08543329235115478,
 'r=256_4, alpha=5': 0.09895754479298603,
 'r=512_4, alpha=2': 0.01700777908163277,
 'r=512_4, alpha=3': 0.033540635418489305,
 'r=512_4, alpha=4': 0.0736567865476854,
 'r=512_4, alpha=5': 0.07278996180301688}

In [21]:
sorted(d.items(), key=lambda x: x[1], reverse=True)

[('r=64_3, alpha=5', 0.047852482451268774),
 ('r=32_3, alpha=5', 0.036257160288923396),
 ('r=16_4, alpha=5', 0.0332627247623536),
 ('r=64_4, alpha=5', 0.02936603961024565),
 ('r=32_4, alpha=5', 0.023851467978590644),
 ('r=128_2, alpha=5', 0.023012419697850495),
 ('r=64_3, alpha=4', 0.021940346772279542),
 ('r=2048_3, alpha=5', 0.021729209345465725),
 ('r=2048_2, alpha=5', 0.018648519307208143),
 ('r=512_4, alpha=5', 0.0176069067330726),
 ('r=1024_2, alpha=3', 0.01741757067151458),
 ('r=128_3, alpha=5', 0.01716405649617599),
 ('r=512_2, alpha=5', 0.016823569374364404),
 ('r=64_2, alpha=5', 0.016301516884723578),
 ('r=256_4, alpha=5', 0.016011935236294565),
 ('r=1024_4, alpha=5', 0.015805560467936186),
 ('r=16_3, alpha=5', 0.015412079232463202),
 ('r=16_4, alpha=4', 0.012780461258837639),
 ('r=16_2, alpha=5', 0.012213020174910374),
 ('r=16_2, alpha=4', 0.011465969840861645),
 ('r=64_4, alpha=4', 0.011417138592368191),
 ('r=32_4, alpha=4', 0.0108264705999908),
 ('r=256_3, alpha=5', 0.01073011037179527),
 ('r=1024_2, alpha=2', 0.010701863747206952),
 ('r=512_3, alpha=5', 0.009676451273027315),
 ('r=2048_3, alpha=4', 0.009656492228845705),
 ('r=128_4, alpha=5', 0.009646665129605634),
 ('r=32_4, alpha=2', 0.00940756361005594),
 ('r=1024_3, alpha=5', 0.009130861980252548),
 ('r=256_2, alpha=5', 0.008430292364559104),
 ('r=512_4, alpha=4', 0.007769617374734373),
 ('r=256_4, alpha=2', 0.007398778450235117),
 ('r=32_2, alpha=5', 0.007188774099348047),
 ('r=256_4, alpha=3', 0.006730927325768351),
 ('r=256_2, alpha=2', 0.005719187966657708),
 ('r=2048_2, alpha=2', 0.005491582447480892),
 ('r=2048_2, alpha=3', 0.005268503184843588),
 ('r=2048_2, alpha=4', 0.005200175804000561),
 ('r=128_2, alpha=4', 0.005088711959174719),
 ('r=256_4, alpha=4', 0.004902300774623655),
 ('r=32_3, alpha=4', 0.002913198511123924),
 ('r=512_4, alpha=2', 0.0028633523232257253),
 ('r=512_4, alpha=3', 0.0026889051151429222),
 ('r=512_2, alpha=2', 0.002619452359615573),
 ('r=1024_2, alpha=4', 0.00205979430730255),
 ('r=128_3, alpha=4', 0.0012669502447438816),
 ('r=16_3, alpha=4', 0.0005887991303488074),
 ('r=128_2, alpha=2', 0.000563863602346504),
 ('r=512_2, alpha=3', 0.0003946601130219237),
 ('r=1024_2, alpha=5', -0.0008114117541188899),
 ('r=256_3, alpha=4', -0.0012925187102263904),
 ('r=64_4, alpha=2', -0.0013823799974858224),
 ('r=64_2, alpha=4', -0.001867960389545592),
 ('r=512_3, alpha=4', -0.002194778207419432),
 ('r=128_2, alpha=3', -0.0030202817651325854),
 ('r=256_2, alpha=3', -0.0030202817651325854),
 ('r=32_3, alpha=2', -0.003834727849367754),
 ('r=32_2, alpha=4', -0.004583105807605663),
 ('r=1024_4, alpha=4', -0.004804538990760506),
 ('r=128_4, alpha=2', -0.004826876661302952),
 ('r=256_2, alpha=4', -0.00485564118241862),
 ('r=2048_3, alpha=3', -0.005519835184310497),
 ('r=16_2, alpha=2', -0.005630798235604354),
 ('r=256_3, alpha=2', -0.00628293349812815),
 ('r=64_2, alpha=2', -0.006533256623451253),
 ('r=512_2, alpha=4', -0.006543874602642941),
 ('r=1024_3, alpha=4', -0.006661568016924667),
 ('r=16_2, alpha=3', -0.006785850670426698),
 ('r=64_3, alpha=3', -0.007510270186177022),
 ('r=64_3, alpha=2', -0.007558055119446893),
 ('r=512_3, alpha=2', -0.007820378055476413),
 ('r=16_4, alpha=3', -0.008259765577626428),
 ('r=2048_3, alpha=2', -0.008262031792110812),
 ('r=1024_3, alpha=2', -0.008622888696690768),
 ('r=1024_3, alpha=3', -0.009119281637619586),
 ('r=128_3, alpha=3', -0.009135315907585512),
 ('r=1024_4, alpha=3', -0.009552384826257873),
 ('r=32_4, alpha=3', -0.011003306024368067),
 ('r=1024_4, alpha=2', -0.011484822259853422),
 ('r=512_3, alpha=3', -0.0115554880188604),
 ('r=128_3, alpha=2', -0.01159042508672321),
 ('r=64_4, alpha=3', -0.012253317663526414),
 ('r=32_3, alpha=3', -0.012462735978538322),
 ('r=256_3, alpha=3', -0.012688950154617575),
 ('r=128_4, alpha=4', -0.012917272852174382),
 ('r=64_2, alpha=3', -0.01309835510284846),
 ('r=16_4, alpha=2', -0.01327521077524078),
 ('r=128_4, alpha=3', -0.013774262310867542),
 ('r=16_3, alpha=3', -0.016657717307490064),
 ('r=32_2, alpha=2', -0.01864647656930863),
 ('r=32_2, alpha=3', -0.019266730112471382),
 ('r=16_3, alpha=2', -0.019550057157751065)]

## LaTTe

In [14]:
with open('clothing_latte1.txt') as f:
    lines = f.readlines()

In [15]:
len(lines)

1270

In [16]:
keys = []
values = []
for line in lines:
    if 'r=' in line:
        if not "{'r=" in line:
            k, v = line.split(':')
            keys.append(k)
            values.append(v.strip())

In [17]:
a = pd.DataFrame([keys, values]).T
a[1] = a[1].astype(float)

In [20]:
a.sort_values(1, ascending=False)[50:100]

                     0         1
121  r=2048_2, alpha=3  0.021016
423   r=128_3, alpha=5  0.020995
138   r=128_3, alpha=4  0.020969
96     r=32_2, alpha=2  0.020865
559  r=1024_4, alpha=5  0.020860
12    r=128_2, alpha=2  0.020587
599    r=16_3, alpha=5  0.020093
79    r=128_4, alpha=5  0.020013
183  r=1024_4, alpha=5  0.019894
352    r=32_4, alpha=2  0.019844
256    r=32_4, alpha=2  0.019844
383    r=32_2, alpha=5  0.019710
568    r=32_2, alpha=2  0.019567
412    r=32_3, alpha=2  0.019567
444    r=32_4, alpha=2  0.019567
328   r=128_3, alpha=2  0.019420
446    r=32_4, alpha=4  0.019324
136   r=128_3, alpha=2  0.019286
120  r=2048_2, alpha=2  0.019286
170   r=128_4, alpha=4  0.019183
232   r=128_3, alpha=2  0.019154
497  r=1024_2, alpha=3  0.019026
67     r=16_4, alpha=5  0.019000
106   r=128_2, alpha=4  0.018978
104   r=128_2, alpha=2  0.018714
443    r=16_4, alpha=5  0.018649
134    r=64_3, alpha=4  0.018628
151  r=1024_3, alpha=5  0.018525
119  r=1024_2, alpha=5  0.018485
83    r=256_4, alpha=5  0.018039
7      r=32_2, alpha=5  0.018020
411    r=16_3, alpha=5  0.017664
492   r=512_2, alpha=2  0.017640
500  r=2048_2, alpha=2  0.017371
501  r=2048_2, alpha=3  0.017343
451    r=64_4, alpha=5  0.017242
11     r=64_2, alpha=5  0.017242
295    r=64_2, alpha=5  0.017214
199    r=64_2, alpha=5  0.017214
87    r=512_4, alpha=5  0.016904
463   r=512_4, alpha=5  0.016862
566    r=16_2, alpha=4  0.016804
2      r=16_2, alpha=4  0.016804
226    r=32_3, alpha=4  0.016624
322    r=32_3, alpha=4  0.016624
574    r=64_2, alpha=4  0.016551
36     r=32_3, alpha=2  0.016479
113   r=512_2, alpha=3  0.016461
576   r=128_2, alpha=2  0.016285
177   r=512_4, alpha=3  0.016189

In [106]:
sorted(res.items(), key=lambda x: x[1], reverse=True)

[('r=2048_4, alpha=5', '0.08006050405465834'),
 ('r=1024_4, alpha=5', '0.06906227548698973'),
 ('r=512_4, alpha=4', '0.06774132007080674'),
 ('r=512_4, alpha=5', '0.06683603037755474'),
 ('r=1024_4, alpha=4', '0.06432299044197125'),
 ('r=2048_4, alpha=4', '0.06368332310920476'),
 ('r=16_2, alpha=4', '0.06158939998716154'),
 ('r=32_2, alpha=4', '0.05913887810007023'),
 ('r=512_3, alpha=5', '0.05849910811204143'),
 ('r=256_4, alpha=5', '0.0584251664330958'),
 ('r=512_2, alpha=5', '0.05759361216725765'),
 ('r=16_2, alpha=5', '0.05757598731659251'),
 ('r=128_4, alpha=5', '0.056602912569915106'),
 ('r=1024_4, alpha=3', '0.05587165927780897'),
 ('r=1024_3, alpha=5', '0.05465193656785819'),
 ('r=32_2, alpha=5', '0.05423558888356247'),
 ('r=128_4, alpha=4', '0.053889955426021346'),
 ('r=64_2, alpha=5', '0.0532994272543202'),
 ('r=32_3, alpha=4', '0.0532253243599625'),
 ('r=32_4, alpha=4', '0.0532253243599625'),
 ('r=64_3, alpha=4', '0.05260313634819217'),
 ('r=64_3, alpha=5', '0.052570103268912975'),
 ('r=16_3, alpha=5', '0.05227897625216676'),
 ('r=128_3, alpha=4', '0.051106494708345065'),
 ('r=1024_2, alpha=5', '0.05084738659964351'),
 ('r=2048_4, alpha=3', '0.04953321418252907'),
 ('r=1024_4, alpha=2', '0.049103158069704646'),
 ('r=128_2, alpha=4', '0.049075187034565246'),
 ('r=128_2, alpha=5', '0.04902155915012927'),
 ('r=16_3, alpha=4', '0.04900788906891029'),
 ('r=1024_3, alpha=4', '0.04896983605907567'),
 ('r=64_4, alpha=4', '0.047776617305340524'),
 ('r=128_3, alpha=5', '0.04741451673657568'),
 ('r=16_4, alpha=4', '0.0470608593311633'),
 ('r=256_4, alpha=4', '0.047023210721006556'),
 ('r=64_4, alpha=5', '0.04680180794123239'),
 ('r=1024_3, alpha=3', '0.046482487884663234'),
 ('r=512_4, alpha=3', '0.04640138328787072'),
 ('r=1024_2, alpha=3', '0.04600582000594648'),
 ('r=64_2, alpha=4', '0.0459439434000059'),
 ('r=2048_2, alpha=5', '0.044370699861050376'),
 ('r=256_2, alpha=5', '0.04418634619821034'),
 ('r=32_3, alpha=5', '0.042377916679083825'),
 ('r=2048_3, alpha=5', '0.0409184099454734'),
 ('r=2048_3, alpha=3', '0.04060142771480043'),
 ('r=16_2, alpha=3', '0.040076743955543906'),
 ('r=1024_2, alpha=4', '0.03965597470683389'),
 ('r=1024_3, alpha=2', '0.03950032999531834'),
 ('r=128_2, alpha=3', '0.03929282065478021'),
 ('r=1024_2, alpha=2', '0.039208635558598375'),
 ('r=16_4, alpha=5', '0.0388275214760734'),
 ('r=512_3, alpha=4', '0.0385269519374542'),
 ('r=512_2, alpha=4', '0.038305861309163934'),
 ('r=2048_2, alpha=3', '0.03828771498295395'),
 ('r=256_3, alpha=5', '0.03819283742471612'),
 ('r=128_4, alpha=3', '0.0373783026701484'),
 ('r=32_4, alpha=5', '0.03691786646032869'),
 ('r=2048_4, alpha=2', '0.03675108198182928'),
 ('r=2048_3, alpha=4', '0.03667690488288051'),
 ('r=32_2, alpha=3', '0.035421420880785155'),
 ('r=512_3, alpha=2', '0.035264363789816594'),
 ('r=256_4, alpha=3', '0.03524618191679341'),
 ('r=16_3, alpha=3', '0.034659888662080654'),
 ('r=64_3, alpha=2', '0.03462142935312797'),
 ('r=256_4, alpha=2', '0.03433492781207439'),
 ('r=64_3, alpha=3', '0.03422641835848786'),
 ('r=32_3, alpha=2', '0.03416002278837388'),
 ('r=64_4, alpha=2', '0.03397597206659515'),
 ('r=32_2, alpha=2', '0.03382478058888707'),
 ('r=64_2, alpha=2', '0.03332144565500058'),
 ('r=256_2, alpha=4', '0.032053967942324284'),
 ('r=64_2, alpha=3', '0.03197500088287847'),
 ('r=512_4, alpha=2', '0.03127543304358368'),
 ('r=32_3, alpha=3', '0.031250715106698086'),
 ('r=32_4, alpha=3', '0.031250715106698086'),
 ('r=16_2, alpha=2', '0.030674511876551857'),
 ('r=128_3, alpha=3', '0.03066927885836588'),
 ('r=2048_2, alpha=4', '0.030347956183205002'),
 ('r=16_4, alpha=2', '0.02937577329776604'),
 ('r=512_3, alpha=3', '0.02908740602465656'),
 ('r=256_3, alpha=4', '0.02805225320836148'),
 ('r=16_4, alpha=3', '0.027539845234628768'),
 ('r=32_4, alpha=2', '0.027513683186778833'),
 ('r=16_3, alpha=2', '0.027234708204132284'),
 ('r=128_2, alpha=2', '0.026295803422460188'),
 ('r=256_2, alpha=2', '0.026219664136334853'),
 ('r=128_3, alpha=2', '0.02594091823458778'),
 ('r=512_2, alpha=3', '0.025470179397342262'),
 ('r=256_2, alpha=3', '0.024202951809637607'),
 ('r=256_3, alpha=2', '0.02254190100968023'),
 ('r=512_2, alpha=2', '0.02215139787850423'),
 ('r=128_4, alpha=2', '0.022045409668243504'),
 ('r=2048_3, alpha=2', '0.021264641435117596'),
 ('r=64_4, alpha=3', '0.02030609651732103'),
 ('r=256_3, alpha=3', '0.01923728802833238'),
 ('r=2048_2, alpha=2', '0.016040493356136026')]